@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

/* Contenedor */
.container {
    display: flex;
    align-items: center;   
    justify-content: center;
    min-height: 100vh;
}

.card {
    box-shadow: 7px 7px 50px black;
    background: rgba(241, 246, 248, 0.527);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 3%;
}

#form {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.form-label {
    text-align: center;
    justify-content: center;
}

/* Botones */

.btn {
    background-color: rgb(59, 78, 90);
    color: white;
    box-shadow: 3px 3px 15px black;
}

.btn:hover {
    background-color: rgb(194, 200, 204);
    color: black;
}

#boton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

body {
    background-image: url(../Img/5f97422d-de9d-4ba1-9801-1afc697a0e90.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}

h2 {
    font-size: 45px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5%;
}

